<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>RECIBIR PARAMETROS GET HTTP</title>
</head>
<body>
<div th:text ="${resultado}"></div>
</body>
</html>