<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>Envia PARAMETROS GET HTTP</title>
</head>
<title th:text="${titulo}">RECIBIR PARAMETROS GET path variable</title>
</head>
<body>
<h1 th:text="${titulo}">Envia PARAMETROS GET HTTP</h1>

<div th:text ="${resultado}"></div>
</body>
</html>